
.weather {
    font-family: arial, sans-serif;
    color: rgb(135, 135, 135);
    border: 1px solid #e2e2e4;
    padding: 16px;
       border-radius: 4px;
    }
    .weather h1  {
         font-size: 24px;
        font-weight: 100;
        line-height: 29px;
        margin: 20px 0 0 0;
    }

       .weather ul {
    margin: 0;
    padding:0;
    }
    .weather li {
        font-size: 16px;
        font-weight: 100;
        line-height: 19px;
        list-style: none;
          }
      .weather img {
        height: 64px;
margin-right: 10px;
margin-bottom: 30px;
display:inline-block;
width: 64px;
                  }

          .weather .temperature {
            font-weight: bold;
            color: rgb(33,33,33);
            font-size: 64px;
            line-height:64px;
            font-weight: 400;
            vertical-align: none;
          }

          .weather .unit {
            color:rgb(33,33,33);
            font-size: 16px;
font-weight: 400;
position:relative;
line-height: 1;
top:-34px;
          }